[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:nest-microservices-sj/gateway-microservce.git
[submodule "products-ms"]
	path = products-ms
	url = git@github.com:nest-microservices-sj/product-microservce.git
